body {
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
    background-color: #000;
    height: 100vh;
    overflow: hidden; /* 防止图片超出背景 */
}

.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200%;
    max-height: 95%;
}
p {
	font-size: 20px;
}