body {
    margin: 0;
    padding: 0;
    font-family:"FangSong" ;
    overflow: hidden;
}

.background {
    position: relative;
    background-color: #000;
    height: 100vh;
    overflow: hidden; /* 防止图片超出背景 */
}

.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 95%;
}


#leftLink {
    position: fixed;
    left: 50px; /* 调整左边距 */
    top: 50%; /* 设置在垂直方向的中间位置 */
    transform: translateY(-50%); /* 居中 */
    color: aliceblue;
    font-size: 1vw
}

#leftLink a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #d3e3d9;
    background-color: rgba(240, 240, 240, 0); 
    font-size: 1vw
}


.right-top-link  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 300;
    color: #000000;
    padding: 10px;
    text-align: center;
    text-decoration: none; /* 去除链接默认的下划线样式 */
    font-size: 4vw
}







